body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%; 
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100vh; 
}

.container {
    display: flex;
    flex-direction: row; 
    width: 70%;
    height: 80%;
    background-color: white;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
}

.left {
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(45deg, #8e44ad, #f39c12);
    color: white;
}

.left h1 {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    font-size: 4em;
    margin-left: 1em;
}

.left i {
    font-size: 2em;
    cursor: pointer;
    position: relative;
    top: 40%;
    right: 22.5%;
    margin-right: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.left i:hover{
    color: #f19a14;

}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.login-box {
    display: flex;
    width: 80%;
    height: 90%;
    flex-direction: column;
    background: white;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

.secondary-title {
    margin-top: 1em;
    cursor: pointer;
    font-size: 2em;
    color: #8e44ad;
    transition: all 0.3s ease-in-out;
}

.login-box h2:hover{
    transform: scale(1.1);
    filter: brightness(120%);
}

.login-box p {
    margin: 10px 0;
    color: #666;
}

.login-box form {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}

.login-box input {
    width: 50%; 
    font-size: 1em;
    padding: 10px 15px;
    margin: 10px 0; 
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

input:focus,
input:valid {
    outline: none;
    color: #333;
    border: 2px solid #8e44ad;
    transform: scale(1.05);
}

.options label {
    display: flex; 
    align-items: center; 
    font-size: 0.9rem;
    color: #666; 
}

#eye {
    position: relative;
    left: 120px;
    top: -38px;
    cursor: pointer;
}

.options p {
    color: #8e44ad;
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
}

.options span {
    font-size: 1em;
    margin-left: -20px;
}

.login-box button {
    margin-top: 5px;
    background: #8e44ad;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.login-box button:hover{
    transform: scale(1.1);
    background: #6e37a0;
}

.login-box a{
    color: #8e44ad;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 1366px){
.container{
    flex-direction: column; 
    width: 100%; 
    height: auto; 
}

.login-box{
    width: 100%;
}

.left, .right{
    width: 100%; 
    height: 100%; 
}

.left{
    justify-content: center; 
    text-align: center;
    padding: 20px;
}

.left h1{
    font-size: 2.5em; 
    text-align: center;
}

.login-box input{
    width: 50%; 
    font-size: 1em;
    padding: 10px 15px;
    margin: 10px 0; 
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

input:focus,
input:valid{
    outline: none;
    color: #333;
    border: 2px solid #8e44ad;
}

.left i{
    font-size: 2em;
    cursor: pointer;
    position: relative;
    top: 80px;
    left: 290px;
    margin-right: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

#eye{
    position: relative;
    left: 220px;
}

}

@media (max-width: 1024px){
    #eye{
        position: relative;
        left: 210px;
    }

    .left i{
        position: relative;
        left: 300px;
    }
}



@media (max-width: 960px) {
    .container {
        flex-direction: column; 
        width: 100%; 
        height: auto; 
    }

    .login-box{
        width: 100%;
    }

    .left, .right {
        width: 100%; 
        height: auto; 
    }

    .left {
        justify-content: center; 
        text-align: center;
    }

    .left h1 {
        font-size: 3em; 
    }

    .left i{
        position: relative;
        left: 120px;
        top: 70px;
        font-size: 1.5em;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
        height: auto; 
    }

    .left h1 {
        font-size: 2em; 
    }

    .login-box input {
        width: 90%;
    }

    .left i{
        position: relative;
        left: 68px;
        top: 70px;
        font-size: 1.5em;
    }

    #eye{
        display: none;
    }
}
